body {
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 17px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 2px #c4c2c2 inset;
}

::-webkit-scrollbar-thumb {
    background-color: #0B5ED7;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0663ee;
}

.navbar {
    position: sticky;
}


.navbar .github {
    width: 250x;
    height: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.navbar .github:hover{
    transform: rotate(360deg) scale(1.2);
}
.video video {
    width: 600px;
    height: 600px;
}
.home {
    overflow: hidden;
}
.personal-info p{
    font-size: 20px;
}
.personal-info h2 {
    font-weight: bolder;
    font-size: 35px;
}

@media (max-width:667px) {
    .home {
        margin-top: 70px;
    }
    .home .row  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home .row .video video{
        width: 400px;
        height: 400px;
    }
    .github {
        display: none;
    } 
    .about h2 {
        text-align:center;
    }
    .about p {
        text-align: center;
    }
    .skills .row .col {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .projects .row .col{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    
}
@media (max-width:992px) {
    .github {
        display: none;
    }
}
@media (min-width:992px) {
    .video video {
        margin-left: 100px;
    }
}


.social a {
    padding: 10px;
    color: #212529;
    font-size: 20px;
}

/* .navbar a:hover, .navbar-nav a:hover {
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px white;
} */

.about {
    background-color: #212529;
}

.about  h2 {
    padding-top: 50px;
}
.about  p{
    padding: 10px 30px;
    padding-bottom: 30px;
}
.about  p::after{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: white;
    margin: 20px;
    text-align: center;
}
.skills {
    background-color: #212529;
    margin-top: -20px;
}
.skills .row  {
    margin-top: 20px;
}
.skills h2 {
    padding: 30px;

}
.skills .card:hover {
    cursor: pointer;
    border: 2px solid #0B5ED7;
}
.skills .card:hover h2 {
    color:#0B5ED7 ;
}
.skills .card:hover .icon {
    color: #0B5ED7;
}
.skills .card-body {
    background-color: black;
    outline: none;
    border: none;
}

@media (max-width:992px) {
    .skills .row .card {
        margin-top: 20px;
    }
    .skills .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.projects img {
    transition: 0.3s;
    cursor: pointer;
}
.projects img:hover {
    transform: scale(1.05);

}

.portfolio > a{
    bottom: 20px;
    right: 20px;
    position: fixed;
    font-size: 27px;
    animation: upAndDown 0.5s infinite alternate;
}

@keyframes upAndDown {
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0);
    }
}

.cardTwo {
    position: fixed;
    z-index: 1;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    width: 393px;
    height: 261px;
    background-color: #0D6EFD;
    border-radius: 47px;
}
